Makefile.in
aclocal.m4
autom4te.cache
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
configure
config.h.in
build-aux/bison++
include/libport/config.h
lib/libport/.deps
lib/libport/Makefile
sdk/Makefile
sdk/config.h
sdk/param.mk
sdk/stamp-h1
sdk/uinstall
sdk/umake
sdk/umake-aibo
sdk/umake-deepclean
sdk/umake-engine
sdk/umake-lib
sdk/umake-link
sdk/umake-remote
sdk/wrapper.sh
