[submodule "doc/document-aux"]
	path = doc/document-aux
	url = ssh://git@git.aldebaran.lan/urbi-sdk/document-aux.git
[submodule "build-aux"]
	path = build-aux
	url = ssh://git@git.aldebaran.lan/urbi-sdk/build-aux.git
