/.version
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/config.h.in
/configure
/doc/Makefile.in
/include/config.h.in
/lib/libport/Makefile.in
/sdk/config.h.in
/tests/Makefile.in
/tests/libport/Makefile.in
