/.version
/.version.stamp
/Makefile.in
/aclocal.m4
/autom4te.cache
/bootstrap.stamp
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/configure
/gui/Makefile.in
/include/config.h.in
